@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.clg{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url("https://i.makeagif.com/media/1-12-2021/YsWRDA.gif");
    background-size: 100%;
}